version: "3.9"

services:
  # SERVIÇOS DE MONITORAMENTO 
  
  exporter:
    build:
      context: ./exporter
    container_name: obs-node-exporter
    restart: unless-stopped
    ports:
      - "9100:9100"
    volumes:
      - /:/host:ro,rslave
      - ./exporter/textfile:/etc/node-exporter/textfile
    environment:
      - NODE_EXPORTER_FLAGS=

  ping-exporter:
    image: czerwonk/ping_exporter:latest
    container_name: obs-ping-exporter
    restart: unless-stopped
    cap_add:
      - NET_RAW
    environment:
      - CONFIG_FILE=/config/ping_exporter.yml
    ports:
      - "9427:9427"
    volumes:
      - ./ping-exporter/ping_exporter.yml:/config/ping_exporter.yml:ro
    depends_on:
      - exporter

  prometheus:
    build:
      context: ./prometheus
    image: obs-prometheus
    container_name: obs-prometheus
    restart: unless-stopped
    depends_on:
      - exporter
      - ping-exporter
      - mysql-exporter # Dependência do MySQL Exporter
    ports:
      - "9090:9090"
    volumes:
      - prometheus-data:/prometheus

  grafana:
    build:
      context: ./grafana
    image: obs-grafana
    container_name: obs-grafana
    restart: unless-stopped
    ports:
      - "3300:3000" # Porta de acesso direto ao Grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_USERS_ALLOW_SIGN_UP=false
    depends_on:
      - prometheus
    volumes:
      - grafana-data:/var/lib/grafana
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/var/lib/grafana/dashboards:ro
  
  postgres:
    image: postgres:15-alpine # Imagem oficial do PostgreSQL
    container_name: obs-postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: desafio_db
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./db_init/init.sql:/docker-entrypoint-initdb.d/init.sql # Mantenha o init
    restart: always

  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:latest
    container_name: obs-postgres-exporter
    environment:
      # O DSN (Data Source Name) deve apontar para o host 'postgres'
      DATA_SOURCE_NAME: postgresql://user:password@postgres:5432/desafio_db?sslmode=disable
    restart: always
    depends_on:
      - postgres
    # Atraso para garantir que o Postgres esteja pronto
    command:
      - "sh"
      - "-c"
      - "sleep 15 && /usr/bin/postgres_exporter"
    # O Prometheus fará o scrape na porta 9187 (padrão do postgres-exporter)

  load-generator:
    build: ./load_generator 
    container_name: obs-load-generator
    restart: always
    depends_on:
      - mysql 
  
  # CAMADA DE SEGURANÇA (NGINX REVERSE PROXY)

  # nginx:
  #   image: nginx:alpine
  #   container_name: obs-nginx-proxy
  #   volumes:
  #     - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro # Configuração
  #     - ./nginx/.htpasswd:/etc/nginx/.htpasswd:ro # Autenticação
  #   ports:
  #     - "443:443" # Porta de acesso autenticado (HTPASSWD)
  #   depends_on:
  #     - grafana # Nginx espera o Grafana estar pronto para fazer o proxy
  #   restart: unless-stopped

# VOLUMES
volumes:
  prometheus-data:
  grafana-data:
  postgres-data: